* {
  margin: 0;
  padding: 0;
  font-family: serif, "Microsoft YaHei";
}

body {
  margin: auto;
  padding: 20px 10px;
}
.nav-container {
  display: flex;
  flex-wrap: nowrap;
  color: white;
}
.nav-box {
  position: relative;
  flex: 1;
  height: 100px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
}
.nav-box > .category-icon {
  position: absolute;
  right: 10px;
  top: 5px;
  opacity: 0.3;
  font-size: 100px;
}
.all-box {
  background-color: #31b48d;
}
.active-box {
  background-color: #38a1f2;
}
.pending-box {
  background-color: #7538c7;
}
.complete-box {
  background-color: #3b67a4;
}
.category-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
}
.category-live {
  padding: 0 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.counter {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
  background-color: transparent;
}
.list-container {
  padding: 10px;
  max-width: 100%;
}
.list-top-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 25px;
  font-weight: 800;
}

.search-input {
  width: 200px;
  height: 32px;
  padding: 0 38px 0 12px;
  border-radius: 20px;
  border: solid 1px #eee;
}
.search-bar {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 10px;
  right: 5px;
}
/* list part */
.list {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #DCDEE3;
}
.table-head {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  background-color: #EBECF0;
}
.sort-icon {
  cursor: pointer;
}
.sort-icon:hover,
.sort-selected {
  color: blue;
}

.task-number,
.task-endDate,
.task-description,
.status,
.buttons-box {
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
}
.head-line {
  display: flex;
  height: 30px;
  line-height: 30px;
}
.task-number {
  width: 20%;
}
.task-description {
  width: 50%;
}
.task-content {
  width: 50%;
  height: 45px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.task-content:hover {
  display: block;
  height: auto;
  overflow: visible;
}
.task-endDate {
  width: 10%;
}
.status {
  width: 10%;
}
.status-ACTIVE {
  color: #666666;
}
.status-PENDING {
  color: #ee706d;
}
.status-CLOSED {
  color: #f7da47;
}
.buttons-box {
  width: 10%;
}
.button {
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ee706d;
  color: white;
  outline: none;
  cursor: pointer;
}

/* alert window */
.bg-filter {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.alert {
  display: none;
  position: fixed;
  padding: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
}
#icon-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 16px;
  cursor: pointer;
}
#icon-question {
  position: absolute;
  left: 30px;
  top: 55px;
  font-size: 30px;
  color: #F1C826;
}
.alert-head {
  margin-left: 30px;
  font-size: 24px;
  color: #333;
}
.alert-question {
  margin-left: 30px;
  color: #666666;
}
.alert-buttons {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.button-yes,
.button-no {
  margin: 5px;
  padding: 3px 10px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
}
.button-yes {
  background-color: #3684fb;
  color: white;
}
.button-yes:hover {
  background-color: #0567fa;
}
.button-no:hover {
  background-color: #EBECF0;
}
